mixin component-a(component)
  p= component.data.text

mixin component-a_fr_FR(component)
  img(src="http://images.google.de/imgres?imgurl=https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1280px-Flag_of_France.svg.png&imgrefurl=https://en.wikipedia.org/wiki/Flag_of_France&h=853&w=1280&tbnid=Pc7ZjM2tDnAmnM:&tbnh=133&tbnw=200&docid=UKv18rECULhF4M&itg=1&usg=__gj8EIeRIwproWapxXMaSTegPYIA=", alt="Flag_of_France")
  p= component.data.text

mixin component-a_fr_BE(component)
  img(src="http://images.google.de/imgres?imgurl=https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Flag_of_Belgium.svg/2000px-Flag_of_Belgium.svg.png&imgrefurl=https://en.wikipedia.org/wiki/Flag_of_Belgium&h=1733&w=2000&tbnid=8U8glEybvHUgNM:&tbnh=160&tbnw=184&docid=rTUKknRvt9FlGM&usg=__6AIlenn89sRA-GmKb8DJbu0pFTs=&sa=X&ved=0ahUKEwix99btotbLAhUHbBoKHX1iAVoQ9QEIJzAA", alt="Flag_of_Belgium")
  p= component.data.text
